body {
    background-color: cadetblue;
}


table {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    overflow-x: auto;
    border: 2px solid;
    border-spacing: 0.75em;
    text-align: center;
  }
